@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--dark: 26 32 44;
		--dark-2: 45 55 72;
		--dark-3: 74 85 104;
		--light: 247 250 252;
		--light-2: 160 174 192;
		--accent: 245 101 101;
	}

	/* Color Themes */
	.light {
		--dark: 255 255 255;
		--dark-2: 221 221 221;
		--dark-3: 196 196 196;
		--light: 26 32 44;
		--light-2: 26 32 44;
		--accent: 245 101 101;
	}
	.monokai {
		--dark: 34 31 34;
		--dark-2: 45 42 46;
		--dark-3: 97 98 89;
		--accent: 200 190 102;
	}
	.github-light {
		--dark: 255 255 255;
		--dark-2: 246 248 250;
		--dark-3: 227 230 234;
		--light: 26 32 44;
		--light-2: 26 32 44;
		--accent: 66 161 245;
	}
	.moonlight {
		--dark: 30 32 48;
		--dark-2: 34 36 54;
		--dark-3: 79 85 112;
		--light: 255 255 255;
		--light-2: 117 126 160;
		--accent: 74 221 113;
	}
	.synthwave {
		--dark: 36 27 47;
		--dark-2: 38 35 53;
		--dark-3: 55 50 77;
		--accent: 227 114 197;
	}
	.one-dark {
		--dark: 33 37 43;
		--dark-2: 40 44 52;
		--dark-3: 64 71 84;
		--accent: 94 170 232;
	}
}
